.step {
    width: 300px;
    margin: 10px;
    
}

input[type=radio] + label {
    display:inline-block;
    width: 32px;
    height: 32px;
    background: url(../img/star_grey.png) left center no-repeat;
}

.stars {
	display: none;
}

.ratingForm {
	display: flex;
	align-items: center;
	margin-top: 10px;
	font-size: 20px;
}

.ratingForm img {
	width: 30px;
	height: 30px;
}

.ratingForm span {
	color: pink;
	margin-left: 10px;
}

#recipe_bottom {
	margin-left: 320px;
}

figure  {
    border:1px solid lightgrey;
    float: right;
    text-align: left;
    padding: 10px;
	width: 40%;
	height: 50%;
	background-color: white;
}

#method { 
/* ol */

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    counter-reset: item;
    list-style: none;
}

#method li {
    flex-grow: 1;
    flex-basis: 0;
    list-style-position:inside;
    margin: 20px;
    min-width: 200px;
    max-width: 200px;
}

#method li:before {
    content: counter(item) "  ";
    counter-increment: item;
    color: #003300;
    font-family: Roboto;
    font-weight: bold;
}

#ingredients {
    margin: 10px;
    line-height: 200%;
    list-style-image: url("../img/check.png");
}

#ingredients li {
    list-style-position: inside;
}

#select_a_portion, #selectedPortion {
	margin: 10px;
}

#main_ol {
	margin: 15px 0;
	padding-left:40px;
	line-height: 150%;
	list-style-position: inside;
}

#main_ol li a:hover, .hover a:hover {
    color: pink;
}